
body{
    width: 100%;
}

.form{
  margin-left: auto;
  right: 0px;
  position: absolute;
  width: 20%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
}

.form label{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
}

.form .inputs{
  margin-bottom: 10px;
  left: 0px;
}

.form .btn input[type="submit"]{
    margin-top: 2px; margin-bottom: 2px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  
}